.buttonColoredContainer{
  background-color: #0B656C;
  width: 250px;
  padding: 25px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;

  i{
    margin-left: 5px;
  }
}