.buttonColoredContainer{
  background-color: #0B656C;
  width: 250px;
  padding: 25px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  z-index: 5;
  position: relative;
  bottom: 70px;
  left: 0;
}