.buttonBorderContainer{
  background-color: white;
  width: 250px;
  padding: 25px;
  border: 2px solid #0B656C;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #0B656C;
  z-index: 10;
  margin-top: 15px;
}


.active {
  background-color: #a0e699;
}