.buttonColoredContainer3{
  background-color: white;
  width: 250px;
  padding: 25px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #0B656C;
  z-index: 5;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}