.buttonBorderAgainContainer{
  background-color: white;
  width: 250px;
  padding: 25px;
  border: 2px solid #0B656C;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #0B656C;
  z-index: 10;
  position: absolute;
  bottom: 100px;
  transform: translateX(-50%);
}
