.navOpenContainer{
  background-image: linear-gradient(#0e7982, #14ebfb);
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 9999;
  text-align: center;
  color: white;

  h2{
    margin:30px;
  }

  .buttonNavOpen{
    position: absolute;
    bottom: 100px;
  }

  i{
    position: absolute;
    right: 25px;
    top: 25px;
    font-size: 30px;
  }

}