//GLOBAL STYLING MAIN ELLEMENTS
body{
  margin: 0;
  padding: 0;
  font-family: "Open Sans";

  p{
    line-height: 24px;
  }

  i{
    font-size: 14px;
  }

  a{
    text-decoration: none;
    color: white
  }

  button{
    border: none;
    outline: 0;
    font-size: 16px;
  }
}