.navWrapper{
  width: 100vw;
  padding-top: 9px;
  color: #0B656C;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 99;

  h3{
    position: relative;
  }

  i{
    position: absolute;
    right: 25px;
    font-size: 25px;
  }
}